@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@keyframes slideDown {
  from {
    transform: translateY(-320px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slideLeft {
  from {
    transform: translateX(120%);
  }
  to {
    transform: translateX(-120%);
  }
}
@keyframes slideRight {
  from {
    transform: translateX(-120%);
  }
  to {
    transform: translateX(120%);
  }
}
@keyframes blink {
  50% {
    opacity: 1;
  }
  49% {
    opacity: 0;
  }
  0% {
    opacity: 0;
  }
}
* {
  font-family: "Poppins", sans-serif;
  color: #bebebe;
  cursor: default;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(18, 18, 18);
  overflow-x: hidden;
}

#header {
  position: fixed;
  width: 100%;
  padding: 0px 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 10vh;
  background: rgb(24, 24, 24);
  z-index: 3;
}
#header .logo {
  font-size: 2rem;
  color: #ffffff;
  margin-right: 10px;
  font-weight: 600;
}
#header .abrir {
  display: none;
}
#header .cerrar {
  display: none;
}
#header .navigation ul {
  display: flex;
  justify-content: space-evenly;
}
#header .navigation ul li {
  display: block;
  margin: 0 10px;
}
#header .navigation a {
  text-decoration: none;
  transition: all 0.5s;
  padding: 6px 2px;
  border-radius: 20px;
  font-weight: 600;
  color: #bebebe;
}
#header .navigation a:hover, #header .navigation a.active {
  background: #fffb91;
  color: #000000;
}

#footer {
  /* margin: 55px; */
  margin-bottom: 0px;
}
#footer img {
  width: 30px;
}

.container ul {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 5px;
}
.container ul li {
  display: block;
  height: 30px;
  width: 30px;
  background: #171515;
  border-radius: 50%;
  cursor: default;
  transition: 0.5s;
  z-index: 1;
}
.container ul li:nth-child(1):hover {
  box-shadow: 0 0 15px #b92499;
}
.container ul li:nth-child(2):hover {
  box-shadow: 0 0 15px #1DA1F2;
}
.container ul li:nth-child(3):hover {
  box-shadow: 0 0 15px #b61bd4;
}
.container ul li:nth-child(4):hover {
  box-shadow: 0 0 15px #2867B2;
}
.container ul li:nth-child(5):hover {
  box-shadow: 0 0 15px #ff0000;
}

#hero {
  padding-top: 270px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  z-index: 1;
}
#hero #iluminado {
  color: rgba(255, 251, 145, 0.6509803922);
  font-size: 4vw;
  text-shadow: 4px 0 rgb(24, 24, 24), -4px 0 rgb(24, 24, 24), 0 4px rgb(24, 24, 24), 0 -4px rgb(24, 24, 24), 2px 2px rgb(24, 24, 24), -2px -2px rgb(24, 24, 24), 2px -2px rgb(24, 24, 24), -2px 2px rgb(24, 24, 24);
  animation: slideDown 1s ease-in;
  position: relative;
  z-index: 999;
  transition: all 0.5s;
}
#hero #iluminado:hover {
  color: #e4e074;
  text-shadow: 2px 0 rgb(24, 24, 24), -2px 0 rgb(24, 24, 24), 0 2px rgb(24, 24, 24), 0 -2px rgb(24, 24, 24), 1px 1px rgb(24, 24, 24), -1px -1px rgb(24, 24, 24), 1px -1px rgb(24, 24, 24), -1px 1px rgb(24, 24, 24), 0 0 20px rgba(208, 214, 126, 0.631372549);
}
#hero .moviles {
  position: absolute;
  width: 100%;
}
#hero .moviles.left {
  animation: slideLeft 8s ease-in infinite;
}
#hero .moviles.right {
  animation: slideRight 6s ease-in infinite;
}
#hero .fondo {
  position: absolute;
  width: 100%;
}
#hero #blink {
  animation: blink infinite;
}

.footerIndex {
  margin-top: 300px;
}

#about {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  padding-top: 100px;
  min-height: 90vh;
}
#about .aboutInfo {
  position: relative;
  min-width: 25rem;
}
#about .aboutInfo .slider {
  display: flex;
  aspect-ratio: 4/3;
  border-radius: 25%;
  overflow: hidden;
}
#about .aboutInfo .slider img {
  flex: 1 0 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 20vw;
}
#about .aboutInfo .slider-nav {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
#about .aboutInfo .slider-nav a {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}
#about .aboutInfo .slider-nav a:hover {
  opacity: 1;
}
#about .text {
  margin-left: 20px;
}

#music {
  /* display: flex; */
  /* align-items: center;
  justify-content: center;
  text-align: center; */
  padding-top: 100px;
}
#music a {
  font-size: 1rem;
  text-decoration: none;
  color: #bebebe;
  padding: 6px 2px;
  border-radius: 20px;
  margin: 0 10px;
  font-weight: 600;
  transition: all 0.5s;
  cursor: default;
}
#music a:hover {
  background: #fffb91;
  color: #000000;
}
#music .containerMusic ul {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 20px;
  list-style: none;
}
#music .containerMusic .grilla {
  display: grid;
  grid-template-columns: 1fr 1fr 1 fr 1;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "textoYoutube youtube youtube" "spotify spotify textoSpotify";
}
#music .containerMusic .grilla .textoYoutube {
  grid-area: textoYoutube;
  background-color: #ff0000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin: 10px;
  transition: all 0.5s;
}
#music .containerMusic .grilla .textoYoutube:hover {
  background-color: #a10c0c;
}
#music .containerMusic .grilla .youtube {
  grid-area: youtube;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
#music .containerMusic .grilla .youtubeVertical, #music .containerMusic .grilla .spotifyVertical {
  transition: all 1s;
}
#music .containerMusic .grilla .youtubeHorizontal, #music .containerMusic .grilla .spotifyHorizontal {
  display: none;
  transition: all 1s;
}
#music .containerMusic .grilla .textoSpotify {
  grid-area: textoSpotify;
  background-color: #1DB954;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin: 10px;
  transition: all 0.5s;
}
#music .containerMusic .grilla .textoSpotify:hover {
  background-color: #1e703a;
}
#music .containerMusic .grilla .spotify {
  grid-area: spotify;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#music .containerMusic .grilla .youtubeHorizontal:hover, #music .containerMusic .grilla .youtubeVertical:hover, #music .containerMusic .grilla .spotifyHorizontal:hover, #music .containerMusic .grilla .spotifyVertical:hover {
  filter: invert(1);
  transform: scale(1.1);
}

#service .cartas {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 100px 12px;
  padding-bottom: 10px;
  color: white;
  min-height: 90vh;
}
#service .cartas p {
  color: white;
  padding: 50px;
}
#service .cartas .carta {
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  border-radius: 15px;
  flex-grow: 1;
  flex-basis: 33.33%;
}
#service .cartas .carta:first-child {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../media/CARTA1.jpg);
}
#service .cartas .carta:nth-child(2) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../media/CARTA2.jpg);
}
#service .cartas .carta:nth-child(3) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../media/CARTA3.jpg);
}
#service .cartas .carta button {
  font-size: 1em;
  font-weight: bold;
  padding: 5px 15px;
  border-radius: 20px;
  border: 3px solid rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  color: #bebebe;
  background-color: #171515;
  transition: all 0.5s;
}
#service .cartas .carta button:hover {
  color: #000000;
  background-color: #aaa757;
}

/* ESTO ERA SIN BOOTSTRAP */
/* #contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;
} */
/* #contact input {
  width: 316px;
  height: 30px;
} */
/* .enviar {
  color: #000000;
}

.enviar:hover {
  color: #e4e074;
  background-color: #171515;
  border: none;
} */
#contact {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  padding-top: 100px;
  padding-bottom: 50px;
}
#contact .contactcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#contact .contactcontainer .cara {
  width: 300px;
  transition: all 0.5s;
}
#contact .contactcontainer .cara:hover {
  transform: rotate(-5deg);
  filter: drop-shadow(30px 60px 30px rgb(228, 224, 116));
}
#contact .contactcontainer .containerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
#contact .contactcontainer .containerForm .form-floating {
  width: 228px;
}

@media screen and (max-width: 1100px) {
  #footer {
    margin: 0;
    padding: 0;
  }
  #footer img {
    width: 60px;
  }
  .container ul li {
    display: block;
    height: 60px;
    width: 60px;
    background: #171515;
    border-radius: 50%;
    cursor: default;
    transition: 0.5s;
    z-index: 1;
    flex-wrap: wrap;
  }
  .footerIndex ul {
    margin-top: 210px;
  }
}
@media screen and (max-width: 900px) {
  #header {
    justify-content: space-between;
  }
  .logo {
    font-size: 2rem;
    margin-right: 0px;
  }
  .fondo {
    height: 55vh;
  }
  .moviles {
    height: 55vh;
  }
  #moto {
    width: 700px;
  }
  #bus {
    width: 700px;
  }
  #footer {
    margin: 0;
    padding: 0;
  }
  /* ABOUT */
  #about {
    flex-wrap: wrap;
  }
  /* SERVICE */
  #service .cartas {
    flex-wrap: wrap;
  }
  #service .carta {
    flex-grow: 1;
  }
}
@media screen and (max-width: 615px) {
  #header .abrir,
  #header .cerrar {
    display: block;
  }
  .navigation {
    padding-top: 10px;
    padding-bottom: 10px;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    border-radius: 10%;
    background-color: rgba(0, 0, 0, 0.8);
  }
  #header {
    justify-content: space-between;
  }
  #header img {
    width: 30px;
  }
  #header img:hover {
    box-shadow: 0px 0px 20px rgba(170, 162, 44, 0.5);
    border-radius: 35%;
  }
  #header button {
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 35%;
    border: none;
    background-color: transparent;
    transition: all 0.5s;
  }
  .navigation.visible {
    opacity: 1;
    visibility: visible;
  }
  #header button.invisible {
    opacity: 0;
    visibility: hidden;
  }
  .navigation ul {
    flex-direction: column;
    align-items: center;
  }
  .navigation li {
    padding: 9px;
  }
  /* ABOUT */
  /* MUSIC */
  #music .containerMusic .grilla {
    display: flex;
    flex-direction: column;
  }
  #music .containerMusic .grilla .textoYoutube .youtubeHorizontal, #music .containerMusic .grilla .textoYoutube .spotifyHorizontal {
    display: flex;
  }
  #music .containerMusic .grilla .textoSpotify .spotifyHorizontal {
    display: flex;
  }
  .youtubeVertical {
    display: none;
  }
  .spotifyVertical {
    display: none;
  }
  /* FOOTER */
  .footerIndex .container {
    background-image: url("../media/footer.png");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
  }
  .footerIndex .container ul {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 0px;
    margin-top: 9em;
  }
}/*# sourceMappingURL=styles.css.map */